{% extends 'BOLDHomeBundle:Default:base.html.twig' %}

{% block body %}
  <h2>Buyback program</h2>
  <h4>Calculator</h4>
  <p><i>CTRL-C in the game in a list, CTRL-V in the box below, press the calculate button, and it will put out in the bottom for how much you should make the contract out</i></p>
  <div><form id="buybackcalculator" method="POST">
      <textarea name="raw_textarea">{{ textarea }}</textarea>
      <button id="result_submit"type="submit">Calculate</button>
   </form>
 </div> 
 {% if contractvalue  %}
 <hr />
 <table class="contractvalue">
   <thead>
     <tr><th>Contract Information</th></tr>
   </thead>
   <tr>
     <th>Type:</th>
     <td>Item Exchange</td>
   </tr>
   <tr>
     <th>Availablity:</th>
     <td>Private</td>
   </tr>
   <tr>
     <th>Name:</th>
     <td>Nicolai Nannen</td>
   </tr>
   <tr>
     <th>I will pay:</th>
     <td>0.0</td>
   </tr>
   <tr>
     <th>I will receive:</th>
     <td><input id="contractvalue_input" name="value" value="{{ contractvalue | number_format(2, ".") }}" /></td>
   </tr>
 </table>
 {% endif %}
 <hr />
 <ul>
  <li>The buyback program is run personally by <i>Thalonia</i>. If you have any questions about the buyback program, please
  direct all questions toward Thalonia. The BO-LD officers will not be able to help you sort out problems with the buyback program.</li>
  <li>The program normally buys anything which is re-sellable on the market at 85% Jita buy. The calculator above already 
 takes the 15% discount into account when calculating buyback values. You don't need to subtract anything from the contract value!</li>
 <li>Contracts made out for too high values will be rejected.</li>
 <li>Buyback is available in all stations in Catch held by the H.E.R.O. Coalition.</li>
 <li>If you have large quantities of something (&gt;500M), especially minerals or salvage, please contact <i>Thalonia</i>
 for the possibility of better conditions.</li>
 </ul>
{% endblock %}


