{% extends 'BOLDHomeBundle:Default:base.html.twig' %}

{% block body %}

<h2>New to Brave Operations - Lollipop Division?</h2>
<h4>Things immediately to do:</h4>
<p>Here are some things you should do to be able to interact with your new corp mates:</p>
<ul>
  <li>Come to <b>CZK-ZQ V - Park3r's House of Pancakes</b>, which is the staging station for the corporation. 
  The easiest way to get there is to set your medical clone to that station, and self-destruct outside of a station 
  (aka Deathcloning or Podjumping). Having expensive implants in Null is not advisable at all, as you will most certainly
  lose those sooner than later. If you have expensive implants, it is possible to come to our station through HED-GP and
  V-3 in Catch. A travel-fit interceptor has quite a good chance of getting there alive, especially during quieter hours.</li>
  <li>Join the chat channel "Form The Head" within EVE. We are living in this station with allies, and this is our
  coordination channel.</li>
  <li>Join the general H.E.R.O. chat channels "Heroic X-Up" and "Intel - HERO"</li>
  <li><a href="https://wiki.braveineve.com/dojo/guides/authorize_core_setup" target="_blank">Setup Mumble</a>, we hang out a lot in there in our channels. You are more than welcome to join us there.</li>
  <li><a href="http://imgur.com/a/vVkW2#0">Setup Jabber</a>, so you can receive general BRAVE and H.E.R.O. ping</li>
  <li>Join a fleet, any fleet, and come explode with us!</li>
</ul>
<h4>Things to do in the near future:</h4>
<ul>
  <li>Skill for an interceptor (Racial Frigate V and Evasive Maneuvering V). They are crucial for surviving in null sec,
      and we frequently run interceptor fleets.</li>
  <li>Skill for a bomber (Racial Frigate V and Electronic Upgrades V, Torpedoes III and Bomb Deployment III). Those
      are a lot of fun!</li>
</ul>
{% endblock %}
