<div class="person">
  <img src="{{ asset("bundles/boldhome/images/team/" ~ image) }}" height="100" width="100"/>
  <div class="name">{{ name }}</div>
  <div class="title">{{ title }}</div>
  <div class="function">{{ function }}</div>
</div>
